/* app css stylesheet */

body {
  padding-top: 20px;
}

/* bears */

.bear {
  margin: 20px 0;
}

.bear a {
  color: lightblue;
  font-weight: 800;
}

h3 {
  font-size: 24pt;
}

#search, select {
  width: 500px;
  color: black;
  border: lightblue solid 2px;
  padding: 10px;
  margin: 20px;
  font-size: 32px;
  font-weight: 600;
}
/** Detail View **/


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}
