<!doctype html>
<html lang="en" ng-app="bearApp">
<head>
  <meta charset="utf-8">
  <title>Bear Gallery</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/animations.css">

  <script src="lib/jquery/jquery-1.10.2.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-animate.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="lib/angular/angular-route.js"></script>

  <script src="js/app.js"></script>
  <script src="js/animations.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
</head>
<body ng-controller="BearListCtrl">
  <input id="search" type="text" ng-model="query"/>
  <select ng-model="orderProp">
    <option value="name"> Alphabetical</option>
  </select>
  <ul>
    <li ng-repeat="bear in bears | filter:query | orderBy:orderProp" class="bear">
      <h3>{{bear.name}}</h3>
      <img ng-src="img/bears/{{bear.type}}.jpeg"/>
    </li>
  </ul>
  
</body>
</html>
